<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated accessanalysisjoanacorrespondences -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.kastel.sdq.coupling.models.correspondences.accessanalysisjoanacorrespondences.presentation.AccessanalysisjoanacorrespondencesModelWizardID"
            name="%_UI_AccessanalysisjoanacorrespondencesModelWizard_label"
            class="edu.kit.kastel.sdq.coupling.models.correspondences.accessanalysisjoanacorrespondences.presentation.AccessanalysisjoanacorrespondencesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AccessanalysisjoanacorrespondencesModelFile.gif">
         <description>%_UI_AccessanalysisjoanacorrespondencesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated accessanalysisjoanacorrespondences -->
      <editor
            id="edu.kit.kastel.sdq.coupling.models.correspondences.accessanalysisjoanacorrespondences.presentation.AccessanalysisjoanacorrespondencesEditorID"
            name="%_UI_AccessanalysisjoanacorrespondencesEditor_label"
            icon="icons/full/obj16/AccessanalysisjoanacorrespondencesModelFile.gif"
            extensions="accessanalysisjoanacorrespondences"
            class="edu.kit.kastel.sdq.coupling.models.correspondences.accessanalysisjoanacorrespondences.presentation.AccessanalysisjoanacorrespondencesEditor"
            contributorClass="edu.kit.kastel.sdq.coupling.models.correspondences.accessanalysisjoanacorrespondences.presentation.AccessanalysisjoanacorrespondencesActionBarContributor">
      </editor>
   </extension>

</plugin>
