<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcmjavacorrespondence -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.kastel.sdq.coupling.models.pcmjavacorrespondence.presentation.PcmjavacorrespondenceModelWizardID"
            name="%_UI_PcmjavacorrespondenceModelWizard_label"
            class="edu.kit.kastel.sdq.coupling.models.pcmjavacorrespondence.presentation.PcmjavacorrespondenceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PcmjavacorrespondenceModelFile.gif">
         <description>%_UI_PcmjavacorrespondenceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcmjavacorrespondence -->
      <editor
            id="edu.kit.kastel.sdq.coupling.models.pcmjavacorrespondence.presentation.PcmjavacorrespondenceEditorID"
            name="%_UI_PcmjavacorrespondenceEditor_label"
            icon="icons/full/obj16/PcmjavacorrespondenceModelFile.gif"
            extensions="pcmjavacorrespondence"
            class="edu.kit.kastel.sdq.coupling.models.pcmjavacorrespondence.presentation.PcmjavacorrespondenceEditor"
            contributorClass="edu.kit.kastel.sdq.coupling.models.pcmjavacorrespondence.presentation.PcmjavacorrespondenceActionBarContributor">
      </editor>
   </extension>

</plugin>
