<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.kit.kastel.sdq.coupling.alignment.extendeddataflowanalysis2codeql.ExtendedDataFlowAnalysis2CodeQLHandler"
            id="edu.kit.kastel.sdq.coupling.alignment.extendeddataflowanalysis2codeql.runextendeddataflowanalysis2codeql"
            name="Alignment: Extended Dataflow Analysis to CodeQL">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.kit.kastel.sdq.coupling.alignment.extendeddataflowanalysis2codeql.ExtendedDataFlowAnalysis2CodeQLHandler"
            commandId="edu.kit.kastel.sdq.coupling.alignment.extendeddataflowanalysis2codeql.handler.extendeddataflow2codeql">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="accessAnalysisTransformation"
               label="Transformation"
               mnemonic="t">
            <command
                  commandId="edu.kit.kastel.sdq.coupling.alignment.extendeddataflowanalysis2codeql.runextendeddataflowanalysis2codeql"
                  label="Alignment: Extended Dataflow Analysis to CodeQL"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
