<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.kit.kastel.sdq.coupling.alignment.extendeddataflowanalysis2codeql.ExtendedDataFlowAnalysis2CodeQL4TravelPlannerHandler"
            id="edu.kit.kastel.sdq.coupling.alignment.extendeddataflowanalysis2codeql.runextendeddataflowanalysis2codeql4travelplanner"
            name="Alignment: Extended Dataflow Analysis to CodeQL (TravelPlanner)">
      </command>
      <command
            defaultHandler="edu.kit.kastel.sdq.coupling.alignment.extendeddataflowanalysis2codeql.ExtendedDataFlowAnalysis2CodeQL4JPMailHandler"
            id="edu.kit.kastel.sdq.coupling.alignment.extendeddataflowanalysis2codeql.runextendeddataflowanalysis2codeql4jpmail"
            name="Alignment: Extended Dataflow Analysis to CodeQL (JPMail)">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.kit.kastel.sdq.coupling.alignment.extendeddataflowanalysis2codeql.ExtendedDataFlowAnalysis2CodeQL4TravelPlannerHandler"
            commandId="edu.kit.kastel.sdq.coupling.alignment.extendeddataflowanalysis2codeql.handler.extendeddataflow2codeql4travelplanner">
      </handler>
      <handler
            class="edu.kit.kastel.sdq.coupling.alignment.extendeddataflowanalysis2codeql.ExtendedDataFlowAnalysis2CodeQL4JPMailHandler"
            commandId="edu.kit.kastel.sdq.coupling.alignment.extendeddataflowanalysis2codeql.handler.extendeddataflow2codeql4jpmail">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="coupling"
               label="Coupling"
               mnemonic="c">
            <command
                  commandId="edu.kit.kastel.sdq.coupling.alignment.extendeddataflowanalysis2codeql.runextendeddataflowanalysis2codeql4travelplanner"
                  label="Alignment: Extended Dataflow Analysis to CodeQL (TravelPlanner)"
                  style="push">
            </command>
            <command
                  commandId="edu.kit.kastel.sdq.coupling.alignment.extendeddataflowanalysis2codeql.runextendeddataflowanalysis2codeql4jpmail"
                  label="Alignment: Extended Dataflow Analysis to CodeQL (JPMail)"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
