<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated parameterannotation -->
      <package
            uri="http://www.example.org/parameterannotation"
            class="edu.kit.kastel.sdq.coupling.models.extension.dataflowanalysis.parameterannotation.ParameterannotationPackage"
            genModel="model/parameterannotation.genmodel"/>
   </extension>

</plugin>
