<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dataflowanalysisextension -->
      <package
            uri="http://www.example.org/dataflowanalysisextension"
            class="edu.kit.kastel.sdq.coupling.models.dataflowanalysisextension.DataflowanalysisextensionPackage"
            genModel="model/dataflowanalysisextension.genmodel"/>
   </extension>

</plugin>
