<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated joanaresultingvaluescorrespondences -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.kastel.sdq.coupling.models.correspondences.joanaresultingvaluescorrespondences.presentation.JoanaresultingvaluescorrespondencesModelWizardID"
            name="%_UI_JoanaresultingvaluescorrespondencesModelWizard_label"
            class="edu.kit.kastel.sdq.coupling.models.correspondences.joanaresultingvaluescorrespondences.presentation.JoanaresultingvaluescorrespondencesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/JoanaresultingvaluescorrespondencesModelFile.gif">
         <description>%_UI_JoanaresultingvaluescorrespondencesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated joanaresultingvaluescorrespondences -->
      <editor
            id="edu.kit.kastel.sdq.coupling.models.correspondences.joanaresultingvaluescorrespondences.presentation.JoanaresultingvaluescorrespondencesEditorID"
            name="%_UI_JoanaresultingvaluescorrespondencesEditor_label"
            icon="icons/full/obj16/JoanaresultingvaluescorrespondencesModelFile.gif"
            extensions="joanaresultingvaluescorrespondences"
            class="edu.kit.kastel.sdq.coupling.models.correspondences.joanaresultingvaluescorrespondences.presentation.JoanaresultingvaluescorrespondencesEditor"
            contributorClass="edu.kit.kastel.sdq.coupling.models.correspondences.joanaresultingvaluescorrespondences.presentation.JoanaresultingvaluescorrespondencesActionBarContributor">
      </editor>
   </extension>

</plugin>
