<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.kit.kastel.sdq.coupling.alignment.accessanalysis2joana.AccessAnalysis2JOANA4TravelPlannerHandler"
            id="edu.kit.kastel.sdq.coupling.alignment.accessanalysis2joana.command.runaccessanalysis2joana4travelplanner"
            name="Alignment: Transform Access Analysis to JOANA Code (TravelPlanner)">
      </command>
      <command
            defaultHandler="edu.kit.kastel.sdq.coupling.alignment.accessanalysis2joana.AccessAnalysis2JOANA4JPMailHandler"
            id="edu.kit.kastel.sdq.coupling.alignment.accessanalysis2joana.command.runaccessanalysis2joana4jpmail"
            name="Alignment: Transform Access Analysis to JOANA Code (JPMail)">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.kit.kastel.sdq.coupling.alignment.accessanalysis2joana.AccessAnalysis2JOANA4TravelPlannerHandler"
            commandId="edu.kit.kastel.sdq.coupling.alignment.accessanalysis2joana.handler.accessanalysis2joana4travelplanner">
      </handler>
      <handler
            class="edu.kit.kastel.sdq.coupling.alignment.accessanalysis2joana.AccessAnalysis2JOANA4JPMailHandler"
            commandId="edu.kit.kastel.sdq.coupling.alignment.accessanalysis2joana.handler.accessanalysis2joana4jpmail">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="coupling"
               label="Coupling"
               mnemonic="c">
            <command
                  commandId="edu.kit.kastel.sdq.coupling.alignment.accessanalysis2joana.command.runaccessanalysis2joana4travelplanner"
                  label="Alignment: Access Analysis to JOANA (TravelPlanner)"
                  style="push">
            </command>
            <command
                  commandId="edu.kit.kastel.sdq.coupling.alignment.accessanalysis2joana.command.runaccessanalysis2joana4jpmail"
                  label="Alignment: Access Analysis to JOANA (JPMail)"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
