<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codeqlscarcorrespondences -->
      <package
            uri="http://www.example.org/codeqlscarcorrespondences"
            class="edu.kit.kastel.sdq.coupling.models.correspondences.codeqlscarcorrespondences.CodeqlscarcorrespondencesPackage"
            genModel="model/codeqlscarcorrespondences.genmodel"/>
   </extension>

</plugin>
