/.ClassGenerationTemplate.java._trace
/.MethodGenerationTemplate.java._trace
/.ClassGenerationTemplate.xtendbin
/.MethodGenerationTemplate.xtendbin
/ClassGenerationTemplate.java
/MethodGenerationTemplate.java
