<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dataflowanalysisextension -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.kastel.sdq.coupling.models.dataflowanalysisextension.presentation.DataflowanalysisextensionModelWizardID"
            name="%_UI_DataflowanalysisextensionModelWizard_label"
            class="edu.kit.kastel.sdq.coupling.models.dataflowanalysisextension.presentation.DataflowanalysisextensionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DataflowanalysisextensionModelFile.gif">
         <description>%_UI_DataflowanalysisextensionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dataflowanalysisextension -->
      <editor
            id="edu.kit.kastel.sdq.coupling.models.dataflowanalysisextension.presentation.DataflowanalysisextensionEditorID"
            name="%_UI_DataflowanalysisextensionEditor_label"
            icon="icons/full/obj16/DataflowanalysisextensionModelFile.gif"
            extensions="dataflowanalysisextension"
            class="edu.kit.kastel.sdq.coupling.models.dataflowanalysisextension.presentation.DataflowanalysisextensionEditor"
            contributorClass="edu.kit.kastel.sdq.coupling.models.dataflowanalysisextension.presentation.DataflowanalysisextensionActionBarContributor">
      </editor>
   </extension>

</plugin>
