/.ClassOrInterfaceTypeGenerationTemplate.java._trace
/.ClassOrInterfaceTypeGenerationTemplate.xtendbin
/.MethodGenerationTemplate.java._trace
/.MethodGenerationTemplate.xtendbin
/ClassOrInterfaceTypeGenerationTemplate.java
/MethodGenerationTemplate.java
