<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated accessanalysiscodeqlcorrespondence -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.kastel.sdq.coupling.models.accessanalysiscodeqlcorrespondence.presentation.AccessanalysiscodeqlcorrespondenceModelWizardID"
            name="%_UI_AccessanalysiscodeqlcorrespondenceModelWizard_label"
            class="edu.kit.kastel.sdq.coupling.models.accessanalysiscodeqlcorrespondence.presentation.AccessanalysiscodeqlcorrespondenceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AccessanalysiscodeqlcorrespondenceModelFile.gif">
         <description>%_UI_AccessanalysiscodeqlcorrespondenceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated accessanalysiscodeqlcorrespondence -->
      <editor
            id="edu.kit.kastel.sdq.coupling.models.accessanalysiscodeqlcorrespondence.presentation.AccessanalysiscodeqlcorrespondenceEditorID"
            name="%_UI_AccessanalysiscodeqlcorrespondenceEditor_label"
            icon="icons/full/obj16/AccessanalysiscodeqlcorrespondenceModelFile.gif"
            extensions="accessanalysiscodeqlcorrespondence"
            class="edu.kit.kastel.sdq.coupling.models.accessanalysiscodeqlcorrespondence.presentation.AccessanalysiscodeqlcorrespondenceEditor"
            contributorClass="edu.kit.kastel.sdq.coupling.models.accessanalysiscodeqlcorrespondence.presentation.AccessanalysiscodeqlcorrespondenceActionBarContributor">
      </editor>
   </extension>

</plugin>
