<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated codeqlresultingvalues -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.kastel.sdq.coupling.codeqlresultingvalues.presentation.CodeqlresultingvaluesModelWizardID"
            name="%_UI_CodeqlresultingvaluesModelWizard_label"
            class="edu.kit.kastel.sdq.coupling.codeqlresultingvalues.presentation.CodeqlresultingvaluesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CodeqlresultingvaluesModelFile.gif">
         <description>%_UI_CodeqlresultingvaluesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated codeqlresultingvalues -->
      <editor
            id="edu.kit.kastel.sdq.coupling.codeqlresultingvalues.presentation.CodeqlresultingvaluesEditorID"
            name="%_UI_CodeqlresultingvaluesEditor_label"
            icon="icons/full/obj16/CodeqlresultingvaluesModelFile.gif"
            extensions="codeqlresultingvalues"
            class="edu.kit.kastel.sdq.coupling.codeqlresultingvalues.presentation.CodeqlresultingvaluesEditor"
            contributorClass="edu.kit.kastel.sdq.coupling.codeqlresultingvalues.presentation.CodeqlresultingvaluesActionBarContributor">
      </editor>
   </extension>

</plugin>
