/.CodeQLQueryTemplate.java._trace
/.CodeQLQueryTemplate.xtendbin
/.CodeQLTainttrackingTemplate.java._trace
/.CodeQLTainttrackingTemplate.xtendbin
/CodeQLQueryTemplate.java
/CodeQLTainttrackingTemplate.java
