<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.kit.kastel.sdq.coupling.backprojection.joanaresult2accessanalysis.JoanaResult2AccessAnalysisHandler"
            id="edu.kit.kastel.sdq.coupling.backprojection.joanaresult2accessanalysis.command.backprojectionCommand"
            name="Backprojection: JOANA to Access Analysis">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.kit.kastel.sdq.coupling.backprojection.joanaresult2accessanalysis.JoanaResult2AccessAnalysisHandler"
            commandId="edu.kit.kastel.sdq.coupling.backprojection.joanaresult2accessanalysis.handlers.backprojectionhandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="accessAnalysisTransformation"
               label="Transformation"
               mnemonic="t">
            <command
                  commandId="edu.kit.kastel.sdq.coupling.backprojection.joanaresult2accessanalysis.command.backprojectionCommand"
                  label="Backprojection: JOANA to Access Analysis"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
